header {
	height: 100px;
}
#logo { /* add the logo */
	background: transparent url('../img/LichfieldLiveLogo.png') no-repeat top left;
	width: 180px;
	height: 80px;
}
#logo span {
	display: none;
	visibility: hidden;
}
